@import url('https://fonts.googleapis.com/css2?family=Frijole&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #11404D;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.app-header {
    z-index: 0;
    background-color: #1b1e2a;
    width: calc(100% - 0%);
    height: calc(100vh - 90vh);
    display: flex;
    align-items: center;
    padding: 0px 15px;
}

.app-header>.nav-link {
    color: #f7f7f7;
    font-family: "Frijole", system-ui;
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 1px;
}

.content-wrapper {
    z-index: 1;
    width: calc(100% - 0%);
    height: calc(90vh - 0vh);
    display: flex;
    flex-direction: row;
}

.content-wrapper>.sub-menu {
    z-index: 3;
    background: rgb(64, 69, 89);
    box-shadow: 10px 8px 10px rgb(44 47 59);
    width: calc(20%);
    height: calc(90vh);
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 15px;
}

.content-wrapper>.sub-menu>.sub-menu-link {
    font-family: "Montserrat", sans-serif;
    color: white;
    font-size: 15px;
    text-decoration: none;
    background-color: #1b1e2a;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.content-wrapper>.app-main {
    z-index: 2;
    background-color: #f0f0f0;
    width: calc(80% - 0%);
    height: calc(90vh - 0vh);
    padding: 10px 15px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/*  Diseño para Dashboard*/
.content-wrapper>.app-main>.dashboard-title {
    text-align: center;
    font-family: "Frijole", system-ui;
    font-size: 30px;
    letter-spacing: 1px;
}

/*  Diseño para card*/
.content-wrapper>.app-main>.card-link-wrapper {
    background: #e8e8e8;
    box-shadow: 6px 6px 12px #bfbebe, -6px -6px 12px #ffffff;
    border: 1px solid #e8e8e8;
    border-radius: 10px;
    width: calc(100% - 0%);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
}

.content-wrapper>.app-main>.card-link-wrapper>.card-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.content-wrapper>.app-main>.card-link-wrapper>.card-info>.card-title {
    color: #000000e6;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    font-size: 20px;
}
.content-wrapper>.app-main>.card-link-wrapper>.card-info>.card-url {
    color: #444444e6;
    letter-spacing: 0.5px;
    font-size: 12px;
    font-style: oblique;
}

.content-wrapper>.app-main>.card-link-wrapper>.card-action {
    display: flex;
    align-items: center;
    justify-content: center;
}
.dot {
    height: 15px;
    width: 15px;
    margin-right: 10px;
    border-radius: 10px;
    background-color: #2e7d32;
    animation: pulse 1.5s infinite ease-in-out;
}

.dot:last-child {
  margin-right: 0;
}

.dot:nth-child(1) {
  animation-delay: -0.3s;
}

@keyframes pulse {
  0% {
    transform: scale(0.8);
    background-color: #2e7d32; /* verde oscuro inicial */
    box-shadow: 0 0 0 0 rgba(46, 125, 50, 0.7);
  }

  50% {
    transform: scale(1.2);
    background-color: #1b5e20; /* verde más intenso/dark */
    box-shadow: 0 0 0 10px rgba(46, 125, 50, 0);
  }

  100% {
    transform: scale(0.8);
    background-color: #2e7d32; /* vuelve al verde oscuro inicial */
    box-shadow: 0 0 0 0 rgba(46, 125, 50, 0.7);
  }
}